:root {
   --cell-width: 4.5vh;
   --cell-height: 4.5vh;
 
   --field-width: calc(var(--cell-width) * 8 + 48px);
  
   --red-bg: #f00;
   --green-bg: #0f0;
   --blue-bg: #00f;
   --yellow-bg: #fc0;

   --start-red-bg: #f99;
   --start-green-bg: #bfb;
   --start-blue-bg: #8cf;
   --start-yellow-bg: #ff7;
}


main {
   position: relative;

   display: flex;
   flex-flow: wrap;
   justify-content: center;
   align-items: center;
 
   width: var(--field-width);
} 

span {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   width: var(--cell-width);
   height: var(--cell-height);

   margin: 2px;

   border: 1px solid #000;
   border-radius: 3px;

}
span.invisible {
   opacity: 0;
}
span.finish-path {
   opacity: 0;
}
span.finish-path.visible {
   opacity: 0;
}




.redbg {
   background: var(--red-bg);
}
.greenbg {
   background: var(--green-bg);
}
.bluebg {
   background: var(--blue-bg);
}
.yellowbg {
   background: var(--yellow-bg);
}