:root {
   --cell-width: 4.5vh;
   --cell-height: 4.5vh;
 
   --field-width: calc(var(--cell-width) * 8 + 48px);
  
   --red-bg: #f00;
   --green-bg: #0f0;
   --blue-bg: #00f;
   --yellow-bg: #fc0;

   --start-red-bg: #f99;
   --start-green-bg: #bfb;
   --start-blue-bg: #8cf;
   --start-yellow-bg: #ff7;
}


main {
   position: relative;

   display: flex;
   flex-flow: wrap;
   justify-content: center;
   align-items: center;
 
   width: var(--field-width);
} 

span {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;

   width: var(--cell-width);
   height: var(--cell-height);

   margin: 2px;

   border: 1px solid #000;
   border-radius: 3px;

}
span.invisible {
   opacity: 0;
}



.redbg {
   background: var(--red-bg);
}
.redbg.start-cell {
   background: var(--start-red-bg);
}
.greenbg {
   background: var(--green-bg);
}
.greenbg.start-cell {
   background: var(--start-green-bg);
}
.bluebg {
   background: var(--blue-bg);
}
.bluebg.start-cell {
   background: var(--start-blue-bg);
}
.yellowbg {
   background: var(--yellow-bg);
}
.yellowbg.start-cell {
   background: var(--start-yellow-bg);
}


span svg {
   display: none;
}
span.allowed svg {
   display: block;
}
span.pan::before {
   content: 'P';
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-size: 20px;
}
span.pan.allowed::before {
   content: '';
}
