:root {
   --cell-width: 4.5vh;
   --cell-height: 4.5vh;
 
   --field-width: calc(var(--cell-width) * 8 + 48px);
  
   --redbg: #f00;
   --greenbg: #0f0;
   --bluebg: #00f;
   --yellowbg: #ff0;
}


main {
   position: relative;

   display: flex;
   flex-flow: wrap;
   justify-content: center;
   align-items: center;
 
   width: var(--field-width);
} 

span {
   display: flex;
   justify-content: center;
   align-items: center;

   width: var(--cell-width);
   height: var(--cell-height);

   margin: 2px;

   border: 1px solid #000;
   border-radius: 3px;

}
span.invisible {
   opacity: 0;
}



.redbg {
   background: var(--redbg);
}
.greenbg {
   background: var(--greenbg);
}
.bluebg {
   background: var(--bluebg);
}
.yellowbg {
   background: var(--yellowbg);
}


span svg {
   display: none;
}
span.allowed svg {
   display: block;
} 