.title-text {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   width: var(--field-width);
   height: 50px;
   margin-bottom: 20px;

   border: 1px solid black;
   border-radius: 6px;
   background: #f1f1f1;

   font-size: 24px; 
   font-weight: 900;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.title-text.hasMove {
   background: var(--enabled-button-bg)
}